:root {
  --font-color: #000;
  --night-font-color: #ddd;
  --primary: #ffb199;
  --secondary: #ff0844;
  --dark: #ff3969;
  --gradient-light: #ff0844;
  --gradient-middle: #ff0844;
  --gradient-dark: #100e17;
  --code-gradient-light: #ffb199;
  --code-gradient-dark: #ffb199;
  --maxwidth: 1284px;
}
.gradient-text {
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}
.gradient-bg {
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
}
.gradient-bg-rev {
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--dark), var(--secondary), var(--primary)) !important;
  background: linear-gradient(to right, var(--dark), var(--secondary), var(--primary)) !important;
}
